<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
</style>

body, a, h1, h2, h3, h4 ,h5 ,h6 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background: rgb(15,109,128);
  background: linear-gradient(90deg, rgba(15,109,128,1) 0%, rgba(0,212,255,1) 4%, rgba(254,254,255,1) 8%, rgba(255,255,255,1) 100%);
}


.dataverseResult {
        padding: 20px;
        background-color: #fefaf6;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}
.dataverseResult .text-muted {
        font-weight: bold;
}
.dataverseResult .card-title-icon-block {
        margin-bottom: 20px;
}
.dataverseResult .card-title-icon-block a {
        margin-bottom: 20px;
        font-weight: bold;
        color: #127690;
}
.dataverseResult a {
        color: #127690;
}

.datasetResult {
        padding: 20px;
        background-color: #f3f9fb;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}
.datasetResult .card-title-icon-block a {
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
        color: #127690;
}
.datasetResult a {
        color: #127690;
}

.fileResult {
        padding: 20px !important;
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
}
.fileResult .card-title-icon-block a {
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
        color: #127690;
}
.fileResult a {
        color: #127690;
}
